<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="/resources/create/scripts"></script>
		<link rel="stylesheet" href="/resources/create/styles" />
		<title>Create</title>
	</head>
	<body>
		<form
			action="/api/products"
			method="POST"
			id="createProductForm"
			class="createProductForm"
		>
			<label for="name">Name</label>
			<input
				type="text"
				name="name"
				id="nameInput"
				class="nameInput"
				placeholder="Enter the product's name"
				required
			/>
			<label for="description">Description</label>
			<input
				type="text"
				name="description"
				id="descriptionInput"
				class="descriptionInput"
				placeholder="Enter the product's description"
				required
			/>
			<label for="price">Price</label>
			<input
				type="number"
				name="price"
				id="priceInput"
				class="priceInput"
				placeholder="Enter the product's price"
				required
			/>
			<button type="submit">Create</button>
		</form>
	</body>
</html>
