<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="/resources/storage/scripts"></script>
		<link rel="stylesheet" href="/resources/storage/styles" />
		<title>Storage</title>
	</head>
	<body>
		<ul id="productsContainer"></ul>
		<script>
			const getProducts = () => {
				return fetch('/api/products')
					.then((data) => data.json())
					.catch(console.error);
			};
			window.onload = async function () {
				const productsList = await getProducts();
				const productsContainer = document.getElementById('productsContainer');

				productsList.length !== 0 &&
					productsList.forEach((product) => {
						const productContainer = document.createElement('li');
						const productName = document.createElement('h3');
						const productDescription = document.createElement('p');
						const productPrice = document.createElement('strong');

						productName.textContent = product.name;
						productDescription.textContent = product.description;
						productPrice.textContent = product.price;

						productContainer.appendChild(productName);
						productContainer.appendChild(productDescription);
						productContainer.appendChild(productPrice);

						productsContainer.appendChild(productContainer);
					});
			};
		</script>
	</body>
</html>
